body {
    background-color: #d4d3d3;
    margin: 0;
    padding: 0;
    border: 0;
}

* { box-sizing: border-box;}

.button {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 2rem;
}

.button .add_goods {
    display: flex;
    justify-content: center;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.container table {
    background-color: white;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    padding: 30px;
}

.container .top,
.container .body {
    width: 100%;
    height: 30px;
    border: 1px solid black;
}

.container .id{
    width: 20px;
}

.container .name,
.container .name_body {
    width: 200px;
}
.container .name_body {
    text-align: left;
}

.container .link {
    width: 40px;
}


.container .quantity,
.container .price,
.container .discount,
.container .sum {
    width: 100px;
}

.container .edit,
.container .delete {
    width: 50px;
}

.container .total_sum {
    font-size: 20px;
    font-weight: bold;
}

