body {
    background-color: #d6d3d3;
}

.container .add_button {
    height: 25px;
    width: 100px;
    border-radius: 1.2rem;
    background-color: red;
}

.container {
    width: 900px;
    position: relative;
    margin: 0 auto;

}

.container h1 {
    text-align: center;
}

.container table {
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

.container .body {
    border-top: 0;
}

.container .top th,
.container .body td {
    text-align: center;
}

.container .top .id,
.container .body .id {
    width: 30px;
}

.container .top .name,
.container .body .name {
    width: 250px;
    text-align: left;
}

.container .top .link,
.container .body .link {
    width: 50px;
}

.container .top .edit,
.container .top .delete,
.container .body .edit,
.container .body .delete {
    width: 50px;
}

.container .top .quantity,
.container .top .price,
.container .top .discount,
.container .top .sum,
.container .body .quantity,
.container .body .price,
.container .body .discount,
.container .body .sum {
    width: calc((900px - 380px) / 4 );
}


