* {box-sizing: border-box;}

.container {
    background-image: url('../images/log1.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

}

.log_reg_form_container{
    height: 250px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(39, 39, 39, 0.5);


}

.log_reg_form_container .login,
.log_reg_form_container .register {
    width: 300px;
    border: 1px solid black;
    height: 100%;
    float: left;
    position: relative;
}

.log_reg_form_container .login h1,
.log_reg_form_container .register h1 {
    text-align: center;
}

.log_reg_form_container .login .button_log_reg,
.log_reg_form_container .login .username,
.log_reg_form_container .login .password,
.log_reg_form_container .register .button_log_reg,
.log_reg_form_container .register .username,
.log_reg_form_container .register .password {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.log_reg_form_container .login .username input,
.log_reg_form_container .login .password input,
.log_reg_form_container .register .username input,
.log_reg_form_container .register .password input {
    height: 30px;
    width: 150px;
    border-radius: 0.5rem;
}

.login .button_log_reg button,
.register .button_log_reg button {
    width: 100px;
    height: 30px;
    border-radius: 2rem;
}

