* {
    box-sizing: border-box;
}

.container .form_container {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.form_container h1,
.form_container .inputs_names p,
.form_container .inputs_form input {
    margin: 0;
    padding: 0;
    border: 0;
}

.form_container h1 {
    width: 100%;
    height: 50px;
    text-align: center;
}

.form_container .inputs_names,
.form_container .inputs_form {
    height: 300px;
    width: 150px;
    float: left;
    margin-top: 50px;
}

.form_container .inputs_form input {
    width: 125px;
    height: 18px;
}

.form_container .inputs_form .goods_name,
.form_container .inputs_form .goods_quantity,
.form_container .inputs_form .goods_price,
.form_container .inputs_form .goods_discount,
.form_container .inputs_names p {
    margin: 20px 0;
}

.form_container .inputs_names p {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.form_container .inputs_form button {
    marging-top: 30px;
    /* height: 25px;
    width: 100px; */
    position: relative;
    left: -50px;
}

.container .form_container .existing_goods {
    width: 355px;
    float: left;
    height: 320px;
    overflow: auto;
}

.form_container .existing_goods .add_top,
.form_container .existing_goods .add_body {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.705);
}

.form_container .existing_goods .add_top {
    
}

.form_container .existing_goods .add_body {
    border-top: 0;
    overflow-y: auto;
    max-height: 280px;
}

.form_container .existing_goods .add_top .prod_id,
.form_container .existing_goods .add_body .prod_id {
    width: 30px;
}

.form_container .existing_goods .add_top .prod_name,
.form_container .existing_goods .add_body .prod_name {
    width: 200px;
}

.form_container .existing_goods .add_top .prod_price,
.form_container .existing_goods .add_body .prod_price {
    width: 100px;
}