body{
    background-image: url('../image/bk.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    border: 0;
}

.myContainer {
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: #00000021;
}