* {
    box-sizing: border-box;
}

.container .form_container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.form_container h1,
.form_container .inputs_names p,
.form_container .inputs_form input {
    margin: 0;
    padding: 0;
    border: 0;
}

.form_container h1 {
    width: 100%;
    height: 50px;
    text-align: center;
}

.form_container .inputs_names,
.form_container .inputs_form {
    height: 320px;
    width: 200px;
    float: left;
    margin-top: 50px;
}

.form_container .inputs_form input {
    width: 125px;
    height: 30px;
    font-size: 18px;
}

.form_container .inputs_form .goods_name,
.form_container .inputs_form .goods_quantity,
.form_container .inputs_form .goods_price,
.form_container .inputs_form .goods_discount,
.form_container .inputs_names p {
    margin: 20px 0;
}

.form_container .inputs_names p {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.form_container .inputs_form button {
    marging-top: 30px;
    /* height: 25px;
    width: 100px; */
    position: relative;
    left: -50px;
}