.table_container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.table_container h1 {
    text-align: center;
}

.table_container table {
    width: 100%;
    border: 1px solid black;
    /* background-color: #ffffff9f; */
}

.table_container .top .id,
.table_container .top .name,
.table_container .top .link,
.table_container .top .quantity,
.table_container .top .price,
.table_container .top .discount,
.table_container .top .sum,
.table_container .top .edit,
.table_container .top .delete,
.table_container .bottom .id,
.table_container .bottom .name,
.table_container .bottom .link,
.table_container .bottom .quantity,
.table_container .bottom .price,
.table_container .bottom .discount,
.table_container .bottom .sum,
.table_container .bottom .edit,
.table_container .bottom .delete {
    text-align: center;
}

.table_container .top .id,
.table_container .bottom .id {
    width: 30px;
}

.table_container .top .name,
.table_container .bottom .name {
    width: 200px;
}

.table_container .top .link,
.table_container .bottom .link {
    width: 50px;
}

.table_container .top .sum,
.table_container .bottom .sum,
.table_container .top .price,
.table_container .bottom .price {
    width: 100px;
}

.table_container .top .discount,
.table_container .bottom .discount {
    width: 80px;
}

.table_container .top .edit,
.table_container .top .delete,
.table_container .bottom .edit,
.table_container .bottom .delete {
    width: 50px;
}