*{box-sizing: border-box;}
.container .form-container {
    height: 400px;
    width: 500px;
    background-color: rgba(34, 34, 34, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container .form-con {
    height: 100%;
    width: calc(100% / 2);
    float: left;
    border: 1px solid rgb(100, 100, 100);
}

.form-container .form-con h1 {
    text-align: center;
    margin-top: 50px;
}

.form-container .form-con input {
    width: 100px;
    border: 0;
    height: 30px;
    display: block;
    margin: 30px auto;
    padding: 0;
    text-align: center;
}

.form-container .username,
.form-container .password {
    height: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 20px auto;
}

.form-container .button_log_reg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button_log_reg button {
    height: 50px;
    width: 100px;
    border-radius: 1.2rem;
}


