.addForm {
    width: 400px;
    margin: 0 auto;
}
.addForm h1,
.table_div .h1_table {
    text-align: center;
    font-size: 30px;
}

.addForm .button_div {
    margin: 0 auto;
    width: 100px;
}
.addForm .button_div .add_button {
    width: 100%;
}

.addForm .input-group .name_width {
    width: 130px;
}

.table_div {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}

