.cofe_name {
    text-align: center;
}

.form_container {
    width: 950px;
    margin: 0 auto;
}

.form_container .left,
.form_container .right {
    float: left;
}

.form_container .left {
    width: 300px;
}

.form_container .right {
    width: 600px;
}

.form_container .right h3 {
    text-align: center;
    margin-left: 50px;
}


.info_container {
    margin-left: 50px;
    width: 600px;
}

.addForm {
    margin-top: 50px;
    width: 100%;
    background-color: rgba(93, 92, 92, 0.39);
    border-radius: 10px;
}

.addForm h1,
.table_div .h1_table {
    text-align: center;
    font-size: 20px;
}

.addForm .button_div {
    margin: 0 auto;
    width: 100px;
}

.addForm .button_div .add_button {
    width: 100%;
}

.addForm .input-group .name_width {
    width: 130px;
}

/* ----------------------------------------------------------------------- */
