.form {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 135, 141, 0.692);
}

.form .elem {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 20px;
}

.form .elem .text {
    width: 100px;
    float: left;

}

.form .elem input {
    width: 200px;
    float: left;
}

.form .button {
    width: 100px;
    margin: 10px auto;
}

.form .button button {
    width: 100%;
}
