body {
    background-color: #d4d3d3;
    margin: 0;
    padding: 0;
    border: 0;
}

* { box-sizing: border-box;}

.container {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

.container .button {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 2rem;
}

.container .button .back_to_index {
    display: flex;
    justify-content: center;
}

.inputs {
    position: relative;
    display: inline-block;
}

.inputs .par {
    width: 100px;
    margin: 0;
    float: left;
}
.inputs .par p {
    margin: 0;
}



